@charset "utf-8";
/* CSS Document */

body {
	background-color: #C8BD99;
	background-image: url(../images/webpagebackground-3.jpg);
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
}

body h1, p {
	padding: 5px
	text-justify: auto;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #D7CCAC;
	height: 151px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#navigation { 
	background-color: #f8ecd5;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#navigation ul {
	margin: 0px;
	padding: 0px;
}

#navigation li {
	list-style: none;
	display: inline;
}

#navigation ul li a {
	height: 20px;
	margin: 0px;
	padding: 2px 10px 2px 10px;
	border: #000 2px solid;
	border-radius: 0.5em;
	text-decoration: none;
	font-size: 20px;
	background-color: #FFC;
	color: #000;
}

#navigation ul li a:hover {
	color: #FFF;
	background-color: #e0d4bd;
}

#navigation ul li a.activePage {
	background-color: #FC0;
}

#contentContainer {
	width: 650px;
	background-color: #e0d4bd;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-justify: auto;
	float: left;
}

#welcomeContainer {
	background-color: #960;
	margin-top: -20px;
	margin-bottom: 5px;
}

#welcomeContainer h1 {
	text-align: center;
	padding: 5px;
}

#welcomeContainer p {
	padding: 5px;
}

#featuredArtistContainer {
	background-color: #69F;
	width: 322.5px;
	height: 322.5px;
	margin-top: -10px;
	margin-bottom: 5px;
	float: left;
}

#featuredArtistContainer p {
	padding-left: 5px;
	padding-right: 5px;
}

#featuredEventContainer {
	background-color: #C6C;
	width: 322.5px;
	height: 322.5px;
	margin-top: -10px;
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
}

#featuredEventContainer p {
	padding-left: 5px;
	padding-right: 5px;
}

#socialMediaContainer {
	background-color: #6CC;
	width: 322.5px;
	height: 322.5px;
	margin-bottom: 5px;
	float: left;
}

#socialMediaContainer p {
	padding-left: 5px;
	padding-right: 5px;
}

#sponsorsContainer {
	background-color: #6CF;
	width: 322.5px;
	height: 322.5px;
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
}

#sponsorsContainer p {
	padding-left: 5px;
	padding-right: 5px;
}

.artistContainer {
	background-color: #F8F4EF;
	border-thickness: thin;
	border-radius: 0.25em;
	margin: 5px;
	padding: 5px;
}

.artistContainer h1 p {
	text-justify: auto;
}

/*.artistContainer h1 {
	text-align: center;
}*/

.artistImageContainer {
	display: block;
	height: 128px;
	width: 128px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

.artistImageContainer p {
	padding: 5px;
}

.eventContainer {
	background-color: #F8F4EF;
	border-thickness: thin;
	border-radius: 0.25em;
	margin: 5px;
	padding: 5px;
}

.eventContainer h1 p {
	text-justify: auto;
}

/*.eventContainer h1 {
	text-align: center;
}*/

.eventImageContainer {
	background-color: #3C0;
	display: block;
	height: 128px;
	width: 128px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}

.sidebarArtistContainer {
	background-color: #F8F4EF;
	border-thickness: thin;
	border-radius: 0.25em;
	margin: 5px;
	padding: 5px;
}

.sidebarArtistImageContainer {
	display: block;
	height: 128px;
	width: 128px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#footer {
	clear: both;
	background-color: #9B815E;
	padding:5px;
}

.footerContentContainerLeft {
	float: left;
}

.footerContentContainerRight {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.alignedCentre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.headerAlignedCentre {
/*	display: inline-block;*/
	margin-left: 395px;
}

.headerAlignedRight {
	margin-left: 258px;
}

/*.alignedLeft {
	float: left;
}*/

/*.floatRight {
	display: block;
	float: right;
}*/

.floatClear {
	clear: both;
}

/*.imageContainer {
	display: inline-block;
}*/

.sidebar {
	height: auto;
	width: 150px;
	background-color: #B8A489;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	text-justify: auto;
	float: left;
}

#adminContentContainer {
	width: 820px;
	background-color: #e0d4bd;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}
	
/*aside {
	height:400px;
	width: 150px;
	background-color: #b6C187;
	float: left;
}*/

.centreText {
	text-align: center;
	text-justify: auto;
}

.subtleSet {
	border-radius:25px;
	width: 30em;
}
.deleteButton {
	color: red;
}

article { 

}
	
